/* header of page */

.text2{
	background-color: #0066ff;
	color: #12263A;
	float: left;
	font-weight: bold;
	font-size: 22px;
	padding: auto;
	width: 90%;
}

label {
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
}


#login_panel {
  margin: 30px, 0;
  padding: 40px, 8px;
  width: 90%;
}

p {
  color: #ffffff;
}